html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#header{
    display:flex;
    color:white;
    justify-content: space-around;
    padding-top: 5%;
}
#footer{
    display:flex;
    flex-direction: row;
    color:white;
    justify-content: space-around; 
}
header a{
    color:white;
    text-decoration: none;
    padding-right: 10px;
}


#header3 img, #footer_3 img{
	padding:10px;
    height:20px;
}
#top{
	background-image: url("images/homebg.png");
	background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#head, #foot{
	height:25px;
	padding:30px;
	text-align: center;
	color:darkgray;
}

#part1{
	padding-top:80px;
	height:100%;
    display: flex;
    justify-content: space-evenly;
}
#subpart1_1{
	vertical-align: top;
	font-size:30;
	color:white;
    width:40%;
}
#subpart1_2{
    width:auto;
}
#subpart1_1 a{
	text-decoration:none;
	padding: 10px;
	font-size:15;
	color:white;
}
#part2,#screenshot, #reviews{
		background-image: url("images/bodybg.png");
    background-size: contain;
}
#subpart2{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}
#subpart2_1, #subpart2_2, #subpart2_3{
	
	margin-top:30px;
}
#screenshot{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
}
.images{
    text-align:center;
	padding-top:30px;
    overflow-y: hidden;
}

#screen1,#screen2,#screen3{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: bottom;
    
}
#part2_head{
	text-align:center;
}
#part2_head h1{
	color:7AA7F5;
}
#downloadImg{
	background-color:red;
	margin-right:10px;
}
#featureImg{
	background-color:blue;
}
#part3 {
	text-align:center;
}
#part3 h1{
	color:7AA7F5;
}

#part4{
	padding-top:10%;
	text-align:center;
	padding-bottom:5%;
}
#part4 h1{
	color: 7AA7F5;
}
#screen1_2, #screen2_2, #screen3_2{
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%
}
.review-left{
	display:inline-block;
	width:30%;
	padding-left:15%;
	padding-right:5%;
	padding-bottom:5%;
	vertical-align:top;
	
}
.review-right{
	display:inline-block;
	width:30%;
	padding-left:5%;
	padding-bottom:5%;
	vertical-align:top;
	padding-right:10%;
}
#part5{
	background-image: url("images/downloadbg.png");
	background-size: contain;
	display: flex;
    flex-direction: row;
	
}
#part5_1{
	color:white;
	display:inline-block;
	width:40%;
	padding-left:10%;
	padding-top:7%;
	vertical-align:top;
}
#part5_1 a{
	padding-right:10px;
}
#part5_2{
	padding-top:10%;
	display:inline-block;
	width:40%;
	padding-left:5%;
}
#foot{
	background-color:6C727C;
	height:100px;
}
#part5_1{
    display: flex;
    flex-direction: column;
}
img{
    height:auto;
}

html {
    font-size: 20px;
}

@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 600px) { 
    #header, #footer{
        flex-direction: column;
        text-align: center;
    }
    #subpart2{
        flex-wrap: wrap;
    }
    .images{
        height:auto;
        width:auto;
        object-fit: contain;
    }
}

@media (max-height:600px){
    
    .images{
        height:auto;
        width:auto;
        object-fit: contain;
    }
}