<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit employee</title>
</head>
<body>
<div>
		<form th:object="${employee}" th:action="@{../employees}" method="post">
			<input type="hidden" th:field="*{id}" /> <br> <label>First Name:</label>
			<input type="text" th:field="*{firstName}" /> <br> <label>Email ID:</label>
			<input type="text" th:field="*{emailId}" /> <br> <label>Gender</label>
			<input type="text" th:field="*{gender}" /><br><label>DOB</label>
			<input type="date" th:field="*{dob}" /><br>
			
			
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>