<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a th:href="@{/admin/employees/add}">Add Employee  </a>
<div class="container">
		<div th:if="${not #lists.isEmpty(employees)}">
			<h2>All employees</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Id</th>
					<th>Gender</th>
					<th>Skype Id</th>
					<th>Primary Contact Number</th>
					<th>Secondary Contact Number</th>
				</tr>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}">Id</td>
					<td th:text="${employee.firstName}">First Name</td>
					<td th:text="${employee.lastName}">Last Name</td>
					<td th:text="${employee.emailId}">Email Id</td>
					<td th:text="${employee.gender}">Gender</td>
					<td th:text="${employee.skypeId}">Skype Id</td>
					<td th:text="${employee.primaryContactNumber}">Primary Contact Number</td>
					<td th:text="${employee.secondaryContactNumber}">Secondary Contact Number</td>
					<td><a th:href="${'employees/edit?id=' + employee.id}"
						class="btn btn-default">Edit</a></td>
					<td><a th:href="${'employees/delete?id=' + employee.id}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>