*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:  #8fd7f4;
    border: 3px solid  #284256;
    text-align: center;
    width:100%;
}
.heading{
    background-color:  #8fd7f4;
    border: 2px solid  #284256;
    height:40px;
}
#search{
    border:1px solid #757575;
    border-radius: 0.75rem;
    width:100%;
    background-image: url(images/search.PNG);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 6px;
    height: 35px;
}
input[type="text"]{
    width:100%;
}
.heading span{
    font-size: 1.5rem;
}
.card-img{
    background-image: url(images/user.PNG);
}
.users{
    width:400px;
}