<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit employee</title>
</head>
<body>
<table width="100%" cellpadding=20 id="head">
		<tr>
			<td>Hello..!!</td>
			<td align="right">
			<a th:href="${'employees/edit?id=' + employee.id}">Edit Profile  </a>
			<a th:href="@{/employee/logout}">Logout | </a>
			<a th:href="${'employees/skills?id=' +employee.id}">Skills | </a>
			</td>
		</tr>
	</table>
<div>
		<form th:object="${employee}" th:action="@{../update}" method="post" align="center">
			<input type="hidden" th:field="*{id}" /> 
			<br> <label>First Name:</label>
			<input type="text" th:field="*{firstName}" /> 
			<br> <label>Email ID:</label>
			<input type="text" th:field="*{emailId}" /> 
			<br> <label>Gender</label>
			<input type="text" th:field="*{gender}" />
			<br><label>DOB</label>
			<input type="date" th:field="*{dob}" /><br>
			<br><label>Skype Id</label>
			<input type="text" th:field="*{skypeId}" /><br>
			<br><label>Primary Contact number</label>
			<input type="text" th:field="*{primaryContactNumber}" /><br>
			<br><label>Secondary Contact number</label>
			<input type="text" th:field="*{secondaryContactNumber}" /><br>
			<br><label>Profile Picture</label>
			<input type="text" th:field="*{profilePicture}" /><br>
			<br><label>Password</label>
			<input type="text" th:field="*{password}" /><br>
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>