<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Dashboard</title>

</head>
<body>
	<table width="100%" cellpadding=20 id="head">
		<tr>
			<td>Hello Admin..!!</td>
			<td align="right">
			<a th:href="@{/admin/projects}">Projects | </a>
			<a th:href="@{/admin/skills}">Skills | </a>
			<a th:href="@{/admin/jobs}"> Jobs | </a>
			<a th:href="@{/admin/employees}">Employee | </a>
			<a th:href="@{../logout}">Logout | </a>
			</td>
		</tr>
	</table>

</body>
</html>